# 微信公众号 AppID
WECHAT_APP_ID=fill_in_valid_value_in_target_environment
# 微信公众号 AppSecret
WECHAT_APP_SECRET=fill_in_valid_value_in_target_environment
# 可选：Google 代理地址
GOOGLE_BASE_URL=fill_in_valid_value_in_target_environment
# 可选：Google API Key
GOOGLE_API_KEY=fill_in_valid_value_in_target_environment
